
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Quicksand:wght@500&family=Source+Sans+3:ital,wght@0,400;0,700;1,500&display=swap');




#container{
    width: 980px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}

.menu {
    width: 980px;
    margin: auto;
    align-items: center;
}


.lista1{
    background-color:#ff7700;
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: end;
    margin: auto;
    height: 45px;
    padding-inline-end: 5px;
}  

.logo {
    background-image: url(IMG/logo.png);
    width: 100;
    height: 84;
    margin-left: 21px;
    position: absolute;
    margin-top: -15px; 
  }

ul li{
    display: inline-flex;
    padding: 0 10px 0 10px;
    
}

.item-lista1{
    color: white;
    text-decoration: none;
    text-align: center;
    padding-inline: 5px;
    font-family: 'Source Sans 3';
    
}

.item-lista1:hover{
    background-color: #ffa845;
    color: white;
    padding-inline: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.banner {
    background-image: url(IMG/banner.png);
    width: 980px;
    height: 489px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  

  
  .titulobanner, .subtitulobanner {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: Merriweather;
  }
  
  .titulobanner {
    font-weight: bold;
    font-size: 30px;
    font-family: Merriweather;
  }
  
  .subtitulobanner {
    font-size: 20px;
    margin-top: 70px;
  }
  

.titulo{
    font-size: 26px;
    display: flex;
    justify-content: center;
    color: #ff9900;
    font-family: Merriweather;
}

.subtitulo{
    display: flex;
    font-family: 'Source Sans 3';
    text-align: center;
    justify-content: center;
}

hr{
    width: 980px;
    border: 1px solid lightgrey;
    margin-bottom: 30px;
}

.conteudo{
    display: flex;
    justify-content: center;
}

.Bloco1{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-right: 50px;
}

.link{
    font-family: Quicksand;
    color: black;
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
}

a:link, a:visited, a:active {
	text-decoration: none;
    color: rgb(0, 0, 0);
	}


.imgDadosDaFome{
    background-image:url(IMG/img1.png);
    width: 400px;
    height: 250px;
}

.texto{
    font-family: 'Source Sans 3';
    font-size: 14px;
}

.Bloco2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    margin-left: 50px;
}

.imgInsegurancaAlimentar{
    background-image: url(IMG/img2.png);
    width: 400px;
    height: 250px;
}

.fraseindex{
    font-family: 'Source Sans 3';
    font-style: italic;
    font-weight: 500;
    background-color: lightgrey;
    height: 60px;
    justify-content: center;
    display: flex;
    margin-bottom: 30px;
}

.conteudo2{
    display: flex;
    justify-content: center;
}

.Bloco3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    margin-right: 50px;
}


.imgODS2{
    background-image: url(IMG/img3.png);
    width: 400px;
    height: 250px;
}

.Bloco4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    margin-left: 50px;
}

.imgTecnologia{
    background-image: url(IMG/img4.png);
    width: 400px;
    height: 250px;
}

.rodape{
    font-family: 'Source Sans 3';
    font-size: 13px;
    display: flex;
    justify-content: end;
    margin-top: 50px;
    text-align: center;
}

.banner2{
    background-image: url(../CSS/IMG/fome.png);
    width: 980px;
    height: 497px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.frase2{
    background-color: #ff7700;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-family: 'Source Sans 3';
    margin-top: 20px;
    height: 100px;
    align-items: center;
    font-size: 30px;
}

#numero{
    font-family: 'Source Sans 3';
    font-weight: bold;
}

.contenttexto{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: lightgray;
}

.texto2{
    width: 980px;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans 3';
    text-align: center;
    word-spacing: 2px;
    font-size: 18px;
}

.dados{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.grafico1{
    background-image: url(../CSS/IMG/grafico1.png);
    width: 400px;
    height: 303px;
}

.graftext{
    width: 600px;
    font-family: 'Source Sans 3';
    font-size: 16px;
    line-height: 30px;
    margin-left: 50px;
}


.dados2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.grafico2{
    background-image: url(../CSS/IMG/grafico2.png);
    width: 596px;
    height: 366px;
}

.graftext2{
    font-family: 'Source Sans 3';
    font-size: 16px;
    line-height: 30px;
    width: 400px;
    margin-right: 50px;
}


.dados3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.imgfome{
    background-image: url(../CSS/IMG/imgfome.png);
    width: 400px;
    height: 330px;
}

.imgtext{
    font-family: 'Source Sans 3';
    font-size: 16px;
    line-height: 30px;
    width: 600px;
    margin-left: 50px;
}

.graficos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.grafico3{
    background-image: url(../CSS/IMG/grafico3.png);
    width: 393px;
    height: 350px;
}
.grafico4{
    background-image: url(../CSS/IMG/grafico4.png);
    width: 395px;
    height: 350px;
    margin-left: -34px;
}

.grafico5{
    background-image: url(../CSS/IMG/grafico5.png);
    width: 370px;
    height: 350px;
}

.graficostext{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.graftext1{
    width: 350px;
    font-family: 'Source Sans 3';
    font-size: 16px;
    text-align: center;
    padding: 15px;
}

.containertitulo{
    display: flex;
    justify-content: center;
}

.titulo3{
    font-family: 'Merriweather';
    display: flex;
    justify-content: center;
    color: black;
    font-size: 25px;
    width: 980px;   
    background-color: #ffa845;
    opacity: 80%;
    position: relative;
    margin-top: -111px;
    align-items: center;
}

.graficoONU{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.onu{
    background-image: url(../CSS/IMG/onu.png);
    width: 908px;
    height: 536px;
}

.onutexto{
    font-family: 'Source Sans 3';
    width: 908px;
    font-size: 17px;
    margin-bottom: 20px;
    line-height: 34px;
}

.banner3{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-direction: column; 
}

.foto{
    background-image: url(../CSS/IMG/prato.png);
    width: 980px;
    height: 654px;
    justify-content: center;
    display: flex;
    margin-bottom: -20px;
}

.boxperguntas{
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: 'Source Sans 3';
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.perguntas{
    display: flex;
    font-size: 16px;
    width: 980px;
    flex-direction: column; 
}

h3{
    background-color: #ffa845;
    height: 50px;
    align-items: center;
    display: flex;
    padding-left: 10px;
    color: black;
}

.caetano{
    background-image: url(../CSS/IMG/caetano.png);
    width: 600px;
    height: 400px;
    margin-top: 30px;
}

.frasecaetano{
    font-family: 'Source Sans 3';
    font-style: italic;
    color: grey;
    font-size: 14px;
}

.dadosonu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    font-family: 'Source Sans 3';
    flex-direction: column;
    height: 300px;
    margin-top: 50px;
}

.acesse{
    font-weight: bold;
    font-size: 18px;
}

.relatorio{
    width: 700px;
    word-spacing: 2px;
    vertical-align: baseline;
    line-height: 26px;
}

button{
    background-color: #e06900;
    font-family: 'Source Sans 3';
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    width: 700px;
    margin-top: 10px;
    font-size: 18px;
}

.listainsegalimentar{
    font-family: 'Source Sans 3';
    font-size: 16px;
    display: flex;
    justify-content: start;
    margin-left: 50px;
    margin-top: 20px;
    width: 1150px;
}


summary{
    font-family: 'Quicksand';
    font-size: 24px;
    background-color: #ffa845;
    margin: auto;
}

summary::-webkit-details-marker {
    display: none
  }
  summary:after {
    content: "+"; 
    color: #e06900; 
    float: left;  
    font-weight: bold; 
    padding: 0; 
    text-align: center; 
    width: 20px;
    left: 20px;
    margin-right: 10px;
  }
  details[open] summary:after {
    content: "-";
  }